{% extends "base.html" %}

{% block head%}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block content %} 
<h1>Оплатить {{ item.name }}</h1>
<table class="horizontal">
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.price }} {{item.currency}}</td>
    </tr>
  </table>
<br/>
<br/>
 <div id="card-element" class="MyCardElement" style="width: 400px;">
 </div>
<br/>
<br/>
<button id="payment-button" class="btn btn-primary">
    Buy
</button>
{% endblock %}
{% block footer %}
<script>
    var stripe = Stripe('STRIPE_PUBLISHABLE_KEY');
    var elements = stripe.elements();
    var cardElement = elements.create("card");
    cardElement.mount("#card-element");

    var buyButton = document.getElementById('payment-button');
    buyButton.addEventListener('click', function () {
        fetch('/buy/{{ item.id}}', {method: "GET"})
                    .then(response => response.json())
                    .then(client_secret =>
            stripe
                .confirmCardPayment(client_secret.clientSecret, {
                    payment_method: {
                        card: cardElement,
                    }
                })
                .then(function (result) {
                    console.log(result)
                    if (result.paymentIntent.status === "succeeded") {
                        window.location.replace("{{URL}}//success");
                    }
                })
            );
    });
</script>
{% endblock %}
