{% extends "base.html" %}
{% block head%}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block content %} ,
<h1>Оплатить заказ № {{ order.id}}</h1>
<table class="horizontal">
    {% for item in order.items.all %}
        <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price|floatformat:"0" }} {{ item.currency }}</td>
        </tr>
    {% endfor %}
    {% if order.discount is not None %}
        <tr>
        <td>Скидка</td>
        <td>{{ order.discount.name }}</td>
        {% if order.discount.type == 'percentage' %}
            <td>{{ order.discount.amount }}%</td>
        {% else %}
            <td>-{{ order.discount.amount|floatformat:"0" }}</td>
        {% endif %}
        </tr>
    {% endif %}
    {% if order.tax is not None %}
        <tr>
        <td>Налог</td>
        <td>{{ order.tax.name }}</td>
        <td>{{ order.tax.percentage }}%</td>
        </tr>
    {% endif %}
    <tr>
        <td>Итого</td>
        <td></td>
        <td>{{ order.total_price_in_dollars }} {{ order.currency }}</td>
    </tr>
    </table>
<br/>
<br/>
<div id="card-element" class="MyCardElement" style="width: 400px;">
 </div>
<br/>
<br/>
<button class="btn btn-primary" id="payment-button">Buy</button>
{% endblock %}
{% block footer %}
<script>
    var stripe = Stripe('STRIPE_PUBLISHABLE_KEY');
    var elements = stripe.elements();
    var cardElement = elements.create("card");
    cardElement.mount("#card-element");
    var buyButton = document.getElementById('payment-button');
    buyButton.addEventListener('click', function () {
        fetch('/buy-order/{{ pk }}', {method: "GET"})
                    .then(response => response.json())
                    .then(client_secret =>
            stripe
                .confirmCardPayment(client_secret.clientSecret, {
                    payment_method: {
                        card: cardElement,
                    }
                })
                .then(function (result) {
                    console.log(result)
                    if (result.paymentIntent.status === "succeeded") {
                        window.location.replace("{{URL}}/success");
                    }
                })
            );
    });
</script>
{% endblock %}
